#input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

#input-data input, #num-people input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);

}
