#input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding: 30px;
}

#input-data input, #num-people input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

#button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}


#select-tip input {
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  width: 40px;
  padding: 12px 20px;
  margin: 5px 10px;
}

#select-tip {
  display: flex;
  flex-direction: column;

  width: 90%;
}

#select-tip button {

  background-color: hsl(183, 100%, 15%);
  border-radius: 7px;

  border: none;
  color: hsl(0, 0%, 100%);
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  font-weight: bold;
  margin: 5px 10px;
} 

#select-tip button:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  box-sizing: border-box;
}